.main-table.partners-table {
    width: 85%;
}

/* small */
@media only screen and (max-width: 767px) {
    .main-table.partners-table {
        width: 100%;
    }
}



.partners-section .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}