header {
    width: 100%;
    background-color: var(--main-bg);
}

header nav {
    width: 100%;
    padding: 1.5rem;
}

header nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

nav .container .logo {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .container .logo img {
    width: 100%;
}

nav .container .admin-data {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

nav .container .admin-data h2 {
    margin: 0;
    margin-right: 1rem;
}

nav .container .admin-data .admin-img {
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3rem;
}

nav .container .admin-data .admin-img img {
    width: 100%;
}