.sideMenu-icon {
    width: 2.5rem;

    /*font-size: 2rem;
    */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    transition: var(--main-transition);
    color: var(--main-font-color);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.sideMenu-icon:hover {
    color: var(--hover-color);
}

.offcanvas.offcanvas-start.show {
    background-color: var(--main-bg);
}

.sideMenu-header.offcanvas-title.h5 {
    font-size: 2rem;
    color: var(--main-font-color);
}

.links-sideMenu {
    font-size: 1.5rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 3rem;
    width: 100%;
}

.links-sideMenu a {
    display: flex;
    align-items: center;
    padding: 1rem;
    transition: var(--main-transition);
    margin-top: 1rem;
    width: 100%;
    color: var(--main-font-color);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.admin-data.sideMenu-adminData span {
    color: var(--main-font-color);
}

.links-sideMenu a:hover {
    color: var(--hover-color);

}

.links-sideMenu .icon {
    margin-right: 1rem;
}

.offcanvas-body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.main-btn.admin-LogoutBtn {
    align-self: center;
    margin: 0 auto;

}

/*=============================Responsive===================================*/

@media (max-width:767px) {
    .links-sideMenu {
        margin-bottom: 2rem;
    }

    .admin-data.sideMenu-adminData {
        display: flex;
        flex-direction: column;
        padding: 3rem;
        margin: 0 auto;
        font-size: 1.5rem;
    }

    .admin-data.sideMenu-adminData .admin-img {
        margin: 0;
        margin-bottom: 1.5rem;
        width: 8rem;
    }
}


@media (min-width:768px) and (max-width:991px) {
    .admin-data.sideMenu-adminData {
        display: none;
    }
}

@media (min-width:992px) {
    .admin-data.sideMenu-adminData {
        display: none;
    }
}